{% extends "base.html.twig" %}

{% block title %}Inscription{% endblock %}
{% block stylesheet %}{% endblock %}
{% block javascript %}{% endblock %}

{% block header %}
    <header>
        <div class="left_header">
            <button class="primary-btn btn-back" id="back">
                <img src="css/images/arrow-left-white.svg" alt="btnarrow" border="0">
                Retour
            </button>
        </div>
        <div class="headerlogo-wrapper">
            <img src="css/images/logotest.svg">
        </div>
        <div class="right_header">
            <button class="secondary-btn" id="about-us">A propos</button>
            <button class="secondary-btn" id="download">Télécharger</button>
        </div>
    </header>
{% endblock %}

{% block body %}
    <main class="inscriptionform">
        <span class="title">Inscription</span>
        {{ form_start(form)}}
       {# <div class="register-form">
            {{ form_label(form.firstName)}}
        </div> #}
        {{ form_end(form) }}
        <p>Vous avez déjà un compte GreenCare <a href="">cliquez ici</a></p>
    </main>
{% endblock %}

{% block footer %}{% endblock %}