$green: #04DC40;
$yellow: rgb(250, 215, 105);
$white: #FAFAFA;
$black: #232323;
$darkgray: #00000091;
$gray: #00000040;
$lightgray: #00000010;
$red: #f55050;
$darkgreen: #01b434;
$lightgreen: #04dc4150;