/*** FONTS */

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('fonts/Montserrat-Bold.eot');
    src: url('fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-Bold.woff2') format('woff2'),
        url('fonts/Montserrat-Bold.woff') format('woff'),
        url('fonts/Montserrat-Bold.ttf') format('truetype'),
        url('fonts/Montserrat-Bold.svg#Montserrat-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('fonts/Montserrat-Regular.eot');
    src: url('fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-Regular.woff2') format('woff2'),
        url('fonts/Montserrat-Regular.woff') format('woff'),
        url('fonts/Montserrat-Regular.ttf') format('truetype'),
        url('fonts/Montserrat-Regular.svg#Montserrat-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-Italic';
    src: url('fonts/Montserrat-Italic.eot');
    src: url('fonts/Montserrat-Italic.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-Italic.woff2') format('woff2'),
        url('fonts/Montserrat-Italic.woff') format('woff'),
        url('fonts/Montserrat-Italic.ttf') format('truetype'),
        url('fonts/Montserrat-Italic.svg#Montserrat-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url('fonts/Montserrat-Light.eot');
    src: url('fonts/Montserrat-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-Light.woff2') format('woff2'),
        url('fonts/Montserrat-Light.woff') format('woff'),
        url('fonts/Montserrat-Light.ttf') format('truetype'),
        url('fonts/Montserrat-Light.svg#Montserrat-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-Black';
    src: url('fonts/Montserrat-Black.eot');
    src: url('fonts/Montserrat-Black.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-Black.woff2') format('woff2'),
        url('fonts/Montserrat-Black.woff') format('woff'),
        url('fonts/Montserrat-Black.ttf') format('truetype'),
        url('fonts/Montserrat-Black.svg#Montserrat-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url('fonts/Montserrat-Medium.eot');
    src: url('fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Montserrat-Medium.woff2') format('woff2'),
        url('fonts/Montserrat-Medium.woff') format('woff'),
        url('fonts/Montserrat-Medium.ttf') format('truetype'),
        url('fonts/Montserrat-Medium.svg#Montserrat-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}




p,
span,
div,
a,
button{
    font-family: 'Montserrat-Medium';
}
*{
    margin: 0;
    padding: 0;
}


.primary-btn{
    padding: 8px 25px;
    background-color: #04DC40;
    color: white;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 4px 6px 0px #00000040;
}

button:hover,
button:focus{
    opacity: 0.8;
}

a{
    color: #04DC40;
}

a:hover,
a:focus{
    text-decoration: underline;
    text-decoration-color: #04DC40;
    opacity: 0.8;
}

/*** FORM  */

form{
    width: 600px;
    margin: auto;
}

form div{
    display: flex;
    flex-direction: column;
}

input{
    outline: none;
    border: none;
    height: 30px;
    padding: 5px;
    border-bottom: 2px solid black;
    box-sizing: border-box;
    margin-bottom: 5px;
}

input:hover,
input:focus,
input:valid{
    outline: none;
    border-bottom: 4px solid #04DC40;
    background-color: #f6f5f5;
}

form label{
    color: #04DC40;
    margin: 10px 0 5px 5px;
}

form button{
    margin-top: 10px;
    padding: 8px 25px;
    background-color: #04DC40;
    color: white;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 4px 6px 0px #00000040;
}


/*** Inscription Page */



.inscriptionform{
    padding: 50px;
    text-align: center;
}

.inscriptionform .title{
    margin-top: 50px;
    font-size: 120%;
}

form[name=form]{
    text-align: left;
    margin-top: 100px;
}

form[name=form] button{
    width: 300px;
    margin: auto;
    margin-top: 50px;
}

.inscriptionform p {
    margin-top: 7px;
}
