*{
    margin: 0;
    padding: 0;
}


.primary-btn{
    padding: 8px 25px;
    background-color: #04DC40;
    color: white;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 4px 6px 0px #00000040;
}

button:hover,
button:focus{
    opacity: 0.8;
}

a{
    color: #04DC40;
}

a:hover,
a:focus{
    text-decoration: underline;
    text-decoration-color: #04DC40;
    opacity: 0.8;
}

/*** FORM  */

form{
    width: 600px;
    margin: auto;
}

form div{
    display: flex;
    flex-direction: column;
}

input{
    border: none;
    height: 30px;
    padding: 5px;
    border-bottom: 2px solid black;
    box-sizing: border-box;
    margin-bottom: 5px;
}

input:hover,
input:focus,
input:valid{
    border-bottom: 4px solid #04DC40;
    background-color: #f6f5f5;
}

form label{
    color: #04DC40;
    margin: 10px 0 5px 5px;
}

form button{
    margin-top: 10px;
    padding: 8px 25px;
    background-color: #04DC40;
    color: white;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 4px 6px 0px #00000040;
}


/*** Connection Page */



.connectionform{
    padding: 50px;
    text-align: center;
}

.connectionform .title{
    margin-top: 50px;
    font-size: 120%;
}

form[name=form]{
    text-align: left;
    margin-top: 100px;
}

form[name=form] button{
    width: 300px;
    margin: auto;
    margin-top: 50px;
}

