{% apply inline_css(source('@styles/components/delete-account-popup.css')) %}

{% block delete_account_popup  %}
    <div id="delete-account-popup" class="popup">
        <div class="popup-content">
            <h2>Confirmation de suppression de compte</h2>
            <p>Êtes-vous sûr de vouloir supprimer votre compte ? Cette action est irréversible.</p>
            <div class="popup-buttons">
                <form method="post" id="delete-form"  action="{{ path('app_profil_delete', {'id': user.id}) }}">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" 
                        value="{{ csrf_token('delete' ~ user.id) }}"/>
                    <button class="btn" style='color: black'>Supprimer</button>
                </form>
                <button id="cancel-button" class='btn' style='color: black'>Annuler</button>
            </div>
        </div>
    </div>
{% endblock %}
{% endapply %}