<!DOCTYPE html>
<html>
    <head>
        <link href="{{ asset('css/styles.css') }}" rel="stylesheet"/>
    </head>
    <body>
        <main class="connectionform">
            <span class="title">Connexion</span>
            {{ form(form) }}
            <p>Vous avez déjà un compte GreenCare <a>cliquez ici</a></p>
        </main>
    <body>
</html>