<!DOCTYPE html>
<html>
    <head>
        <link href="{{ asset('css/styles.css') }}" rel="stylesheet"/>
    </head>
    <body>
        <main class="inscriptionform">
            <span class="title">Inscription</span>
            {{ form(form) }}
            <p>Vous avez déjà un compte GreenCare <a href="{{ path('connection_page') }}">cliquez ici</a></p>
        </main>
    </body>
</html>