<!DOCTYPE html>
<html>
    <head>
        <link href="{{ asset('css/styles.css') }}" rel="stylesheet"/>
    </head>
    <body>
        <img class="landing-logo" src="" alt="logo"/>
        <div class="landing-bottom">
            <button class="primary-btn">Créer un compte GreenCare</button>
            <p>Vous avez déjà un compte? <a href="{{ path('connection_page') }}">Connectez-vous</a></p>
        </div>
    <body>
</html>