@use "./utils" as vars;
@import './components/index';
@import './pages/index';

.main-container {
    padding: 10vh 10vw;
    min-height: 100vh;

    @include vars.media(tablet-small, max) {
        padding: 5vh 5vw;
    }
}