@use "../utils" as vars;

header{
  @include vars.flexer(center, space-between);
  width: 100%;
  height: fit-content;
  box-shadow: 0 0 vars.rem(10) 0 vars.$gray;
  padding: vars.rem(20);
}

.left_header{
  display: flex;
  justify-content: center;
}

.header_nav{
  @include vars.flexer(center, start);
  gap: vars.rem(10);
}

.header_nav_element{
  @include vars.flexer(center, center, column);
  height: vars.rem(100);
  aspect-ratio: 1/1;
  cursor: pointer;
}

.header_nav_element:hover{
  background-color: #f6f5f5;
}

.header_nav_element img{
  height: 38px;
  width: 38px;
  margin-bottom: 7px;
}


.header_nav p{
  font-size: 80%;
}

.right_header{
  @include vars.flexer(center, start);
  gap: vars.rem(10);
}
