// @use "../utils" as vars;

header {
  @include vars.flexer(center, space-between, row);
  width: 100%;
  height: vars.rem(125);
  text-align: center;

  box-shadow: 0 0 vars.rem(10) 0 vars.$gray;
  padding: 0 vars.rem(20);

  .left_header {
    @include vars.flexer(center, center, row);
    width: 250px;

    img {
      width: 100%;
    }
  }

  .right_header {
    width: 100%;
    @include vars.flexer(center, space-between, row-reverse);
    gap: vars.rem(10);
    padding: 0 20px;
    white-space: nowrap;

    div {
      @include vars.flexer(center, center, row);
      gap: 20px;

      #profil {
        background-color: vars.$green;
      }

      #disconnect {
        transition: none;
        background-color: transparent;
        border: none;
        // box-shadow: none;
        color: black;
        text-decoration: underline;
      }
    }
  }
}

// .header-accueil {
//   @include vars.flexer(center, space-between, row);
//   width: 100%;
//   height: vars.rem(125);
//   text-align: center;

//   box-shadow: 0 0 vars.rem(10) 0 vars.$gray;
//   padding: 0 vars.rem(20);

//   @include vars.media(tablet, max) {
//     flex-direction: column;
//     align-items: center;
//     justify-content: space-between;
//     padding: vars.rem(20);
//     height: calc(vars.rem(125) + 40px);

//   }

//   .left_header {
//     @include vars.flexer(center, center, row);
//     width: 250px;

//     img {
//       width: 100%;
//     }
//   }

//   .right_header {
//     width: 100%;
//     @include vars.flexer(center, space-between, row-reverse);
//     gap: vars.rem(10);
//     padding: 0 20px;
//     white-space: nowrap;

//     div {
//       @include vars.flexer(center, center, row);
//       gap: 20px;

//       #profil {
//         background-color: vars.$green;
//       }

//       #disconnect {
//         transition: none;
//         background-color: transparent;
//         border: none;
//         // box-shadow: none;
//         color: black;
//         text-decoration: underline;
//       }
//     }
//   }
// }