<h1>Dashboard Botanist</h1>

<button onclick="location.href='{{ path('app_botanist_list_all_advice') }}'"
        type="button"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-2">
    Voir toutes les demandes de conseils
</button>

<button onclick="location.href='{{ path('app_botanist_list_all_advice') }}'"
        type="button"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mr-2">
    Gestion des rendez-vous
</button>