{% extends 'base.html.twig' %}

{% block title %}Profil Botaniste{% endblock %}

{% block body %}

<section class="profil-botaniste">
		<div class="infos">
			<div class="img-container">
				<img src="/images/jardinnier.jpg" alt="Photo de profil">
			</div>
			<div class="infos-container">
				<div class="personnal">
					<div class="personnal-info">
						<div class="text-box">
							<p>Nom :</p>
							<p>NextGen</p>
							<button>modifier</button>
						</div>
						<div class="text-box">
							<p>Prénom :</p>
							<p>Black</p>
							<button>modifier</button>
						</div>
						<div class="text-box mail">
							<p>Adresse email :</p>
							<p>mermozlethug@gmail.com</p>
						</div>
					</div>
					<button class="personnal-action">
						<img id="monBouton" src="/images/equipement.png" alt="engrenage">
						<div id="monElementCache" class="elementCache">
							<a href="/"
								style="color: black; text-decoration-color: black;">Modifier
								photo de profil</a>
							<a href="/" style="color: red; text-decoration-color: red;">
								Supprimer
								mon compte</a>
						</div>
					</button>
				</div>

				<div class="stats">
					<div class="stats-box">
						<p>Conseils donnés :</p>
						<p>0</p>
					</div>

					<div class="stats-box">
						<p>Rendez-vous acceptés :</p>
						<p>1</p>
					</div>

					<div class="stats-box">
						<p>Rendez-vous réfusés :</p>
						<p>0</p>
					</div>
				</div>

				<div class="certification">Botaniste certifié</div>
			</div>
		</div>
</section>

{% endblock %}