<form method="post" action="{{ path('app_plant_delete', {'id': plant.id}) }}">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ plant.id) }}">
    <button class="">Supprimer</button>
</form>
