{% extends 'base.html.twig' %}

{% block title %}Edit plant{% endblock %}

{% block body %}
    <h1>Edit plant</h1>

    <a href="{{ path('app_plant_index') }}">Retour</a>

    {{ include('plant/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    {{ include('plant/_delete_form.html.twig') }}
{% endblock %}
