{# header for unloged users #} 
<header>
    <div class="left_header">
        <button class="primary-btn btn-back" id="back">
            <img src="css/images/arrow-left-white.svg" alt="btnarrow" border="0">
            Retour
        </button>
    </div>
    <div class="headerlogo-wrapper">
        <img src="css/images/logogreencare.png">
    </div>
    <div class="right_header">
        <button class="secondary-btn" id="about-us">A propos</button>
        <button class="secondary-btn" id="download">Télécharger</button>
    </div>
</header>