{# header for unloged users #} 
<header>
    <div class="left_header">
        <button class="btn btn-primary" id="back">
            <img src="{{ asset('images/arrow-left-white.svg') }}" alt="btnarrow">
            Retour
        </button>
    </div>
    <div class="headerlogo-wrapper">
        <img src="{{ asset('images/logogreencare.png') }}" alt="yay">
    </div>
    <div class="right_header">
        <button class="btn btn-secondary" id="about-us">A propos</button>
        <button class="btn btn-secondary" id="download">Télécharger</button>
    </div>
</header>