@use "../utils" as vars;

.landing {
	width: 100%;
	@include vars.flexer(center, center, column);
	min-height: calc(100vh - vars.rem(125));
	gap: vars.rem(60);
	padding: 40px;
	text-align: center;

	// background: url($landing) no-repeat fixed;
	background-position-x: center;
	background-position-y: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	.title {
		@include vars.flexer(center, center, column);

		h1 {
			color: vars.$green;
			font-size: 56px
		}

		p {
			color: vars.$gray;
		}
	}

	.buttons {
		@include vars.flexer(center, center, column);
		gap: 7px;

		a {
			@include vars.flexer(center, center, column);
		}

		#login {
			color: black;
			font-weight: 500;
		}

		#register {
			text-decoration: underline;
		}
	}
}