@use "../utils" as vars;

.landing {
	width: 100%;
	@include vars.flexer(center, center, column);
	min-height: calc(100vh + vars.rem(125));
	gap: vars.rem(60);
	padding: 40px;
	text-align: center;
	background-image: url("../../images/banner-landing.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: top;

	.title {
		@include vars.flexer(center, center, column);

		h1 {
			color: vars.$white;
			font-size: 56px;
		}

		p {
			color: vars.$white;
		}

		text-shadow: #333 1px 0 10px;

	}

	.buttons {
		@include vars.flexer(center, center, row);

		gap: 20px;

		a {
			@include vars.flexer(center, center, column);
			color: white;
		}

		#login {
			// color: black;
			font-weight: 500;
		}

		#register {
			text-decoration: underline;
		}
	}
}