@use "../utils" as vars;

.landing {
	@include vars.flexer(center, center, column);
	text-align: center;
	min-height: 600px;
	gap: vars.rem(30);
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../assets/img/filip-urban-ffJ8Qa0VQU0-unsplash.jpg');
	background-position: center 45%;
	background-size: cover;
	color: vars.$white;

	&_links {
		@include vars.flexer(center, start);
		gap: vars.rem(10);
	}

	&_feats {
		@include vars.flexer(center, center);
		gap: vars.rem(50);
		flex-wrap: wrap;

		li {
			min-width: 100px;
		}

		img {
			filter: invert(97%) sepia(6%) saturate(372%) hue-rotate(324deg) brightness(119%) contrast(96%);
		}
	}
}