{% extends 'base.html.twig' %}

{% block title %}Edit Appointment{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock %}

{% block body %}
<div class="main-container">
    <h1>Edit Appointment</h1>

    {{ include('appointment/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_appointment_index') }}">back to list</a>

    {{ include('appointment/_delete_form.html.twig') }}
</div>
{% endblock %}
