{% extends 'base.html.twig' %}

{% block title %}Créer une demande de conseil{% endblock %}

{% block body %}
     <h1>Créer une demande de conseil</h1>

    {{ include('advice/_form.html.twig') }}

    <a href="{{ path('app_advice_index') }}">back to list</a>

{% endblock %}
