{% extends 'base.html.twig' %}

{% block title %}Créer une demande de conseil{% endblock %}

{% block body %}
<div class="main-container">
     <h1>Créer une demande de conseil</h1>

    {{ include('advice/_form.html.twig') }}
</div>

{% endblock %}
