{% extends 'mail.html.twig' %}

{% block title %}
    Hi! Please confirm your email!
{% endblock %}

{% block message %}
    <p>Hello {{ username }}!</p> 
    <p>Please confirm your email address by clicking the following link:</p>
    <a href="{{ signedUrl|raw }}">Confirm my Email.</a>
    <p>This link will expire in {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.</p>
{% endblock %}

