<footer>
	<ul>
		<li class="container-footer">
			<h3>Aide</h3>
			<a href="/">Service client disponible 24/7,<br> par email</a>
			<a href="/">FAQ</a>
			<a href="/">Conseils d'utilisation</a>
		</li>
		<li class="container-footer">
			<h3>Services</h3>
			<a href="/">Discutez</a>
			<a href="/">Partagez</a>
			<a href="/">Prenez rendez-vous</a>
		</li>
		<li class="container-footer">
			<h3>A propos de GreenCare</h3>
			<a href="/">L'équipe</a>
			<a href="/">Histoire</a>
			<a href="/">Nouveautés</a>
		</li>
		<li class="container-footer">
			<h3>Suivez-nous</h3>
			<div class="socials">
				<a href="/" class="img-container"><img src="{{ asset('images/socials/twitter.png') }}"
													   alt="twitter"></a>
				<a href="/" class="img-container"><img src="{{ asset('images/socials/instagram.png') }}"
													   alt="instagram"></a>
				<a href="/" class="img-container"><img src="{{ asset('images/socials/youtube.png') }}"
													   alt="youtube">
				</a>
			</div>
		</li>
	</ul>
	<div class="mentions">
		<div class="container-footer">
			<h3>Pays : <img src="{{ asset('images/flag/France.svg') }}" alt="France"> France</h3>
			<a href="/">Plan du site</a>
			<a href="/">Mentions légales</a>
			<a href="/">Cookies</a>
		</div>
		<h1>GreenCare</h1>
	</div>
</footer>