{# DESKTOP HEADER #}
<header>
    <div class="left_header">
        <img class="greencare_logo" src="{{ asset('css/images/logotest.svg') }}" alt="greencare">
        <p class="slogan">Éveillez votre connexion avec la terre<p>
    </div>
    <nav class="header_nav">
        <div class="header_nav_element reservation">
            <img src="{{ asset('css/images/calendar.svg') }}" alt="Reserver">
            <p>Réservation</p>
        </div>
        <div class="header_nav_element discutez">
            <img src="{{ asset('css/images/chat.svg') }}" alt="Discutez">
            <p>Discutez</p>
        </div>
        <div class="header_nav_element partagez">
            <img src="{{ asset('css/images/share.svg') }}" alt="Partagez">
            <p>Partagez</p>
        </div>
    </nav>
    <div class="right_header">
        <button class="secondary-btn">A propos</button>
        <button class="secondary-btn">Télécharger</button>
    </div>
</header>
