<header class="header-not-logged">
	<a href="/" class="left_header">
		<img class="greencare_logo" id="logo" src="/images/logoG.png" alt="greencare">
	</a>

	<div class="right_header">
		<button class="btn btn-secondary" id="home">Accueil</button>
	</div>
</header>