{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block body %}

	<section class="dashboard-user">
		<h2>Bienvenue sur votre Dashboard, <span>Black NextGen</span></h2>

		<div class="top-banner">
			<div class="take-rdv">
				<h3><a href="/">Voir toutes les demandes de conseils</a></h3>
				<div class="rdvs">
					<a href="/" class="box">
						<p>Date</p>
						・
						<p>TitreTitreTitreTitreTitre</p>
					</a>
					<a href="/" class="box">
						<p>Date</p>
						・
						<p>TitreTitreTitreTitreTitre</p>
					</a>
				</div>
			</div>
			<div class="statisique">
				<div>
					<h3>Mes statistiques</h3>
					<div>
						<p>Rendez-vous pris</p>
						<p>0</p>
					</div>
					<div>
						<p>Conseils demandés</p>
						<p>1</p>
					</div>
				</div>

				<a href="/">Accéder à mon profil</a>
			</div>
		</div>

		<div class="bottom-banner">
			<div class="left">
				<div class="historique">
					<h3>Gardiennage</h3>
					<div class="box-container">
						<a href="/" class="box">
							<img src="/images/plante1.jpg" alt="">
							<p>Prendre rendez-vous</p>
						</a>
						<a href="/" class="box">
							<img src="/images/plante1.jpg" alt="">
							<p>Demander conseil</p>
						</a>
					</div>
				</div>

				<div class="a-venir">
					<div class="top">
						<h3>Rendez-vous à venir</h3>
						<a href="/">Voir tous
							<img src="/images/right-arrow.png" alt="">
						</a>
					</div>
					<div class="rdvs">
						<a href="/" class="box">
							<p>29/08/2023</p>
							・
							<p>Présentiel</p>
							・
							<p>20h30</p>
						</a>
						<a href="/" class="box">
							<p>29/08/2023</p>
							・
							<p>Distanciel</p>
							・
							<p>20h30</p>
						</a>
						<a href="/" class="box">
							<p>29/08/2023</p>
							・
							<p>Présentiel</p>
							・
							<p>20h30</p>
						</a>
					</div>
				</div>
			</div>
			<div class="recent">
				<div class="top">
					<h3>Activités récentes</h3>
					<a href="/">Voir toutes
						<img src="/images/right-arrow.png" alt="">
					</a>
				</div>

				<div class="activities">
					<a href="/" class="activity">
						<p>Black NextGen</p>
						・
						<p>HAHAHAHAHAHA</p>
						・
						<p>Public</p>
					</a>
					<a href="/" class="activity">
						<p>Black NextGen</p>
						・
						<p>Titre</p>
						・
						<p>Privé</p>
					</a>
					<a href="/" class="activity">
						<p>Black NextGen</p>
						・
						<p>HAHAHAHAHAHA</p>
						・
						<p>Public</p>
					</a>
					<a href="/" class="activity">
						<p>Black NextGen</p>
						・
						<p>HAHAHAHAHAHA</p>
						・
						<p>Public</p>
					</a>
					<a href="/" class="activity">
						<p>Black NextGen</p>
						・
						<p>HAHAHAHAHAHA</p>
						・
						<p>Public</p>
					</a>
					<a href="/" class="activity">
						<p>Black NextGen</p>
						・
						<p>HAHAHAHAHAHA</p>
						・
						<p>Public</p>
					</a>
					<a href="/" class="activity">
						<p>Black NextGen</p>
						・
						<p>HAHAHAHAHAHA</p>
						・
						<p>Public</p>
					</a>
					<a href="/" class="activity">
						<p>Black NextGen</p>
						・
						<p>HAHAHAHAHAHA</p>
						・
						<p>Public</p>
					</a>
				</div>
			</div>
		</div>
	</section>

{% endblock %}